/*----------------------------global selectors----------------------*/
html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*gives the code/content within the body the below background color*/
body {
  background:#9dd1ff;
}

/*formats all code within <main></main>*/
main {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*formats the letters inside the <span></span> that are nested inside the h1*/
h1 span {
  color: white;
}
/*aligns the text within the footer to the center>*/
footer {
  text-align:center;
}
/*--------------------------aboutme section-------------------------*/
/*formats all code within .aboutme class (formats flexbox, alignment, margins)*/
/*allows for the content within this class to be resposive due to the implementation of flexbox*/
.aboutme {
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  margin-right: 30px;
  margin-left: 340px;
  margin-right: 340px;
  margin-bottom: 140px;
}

/*changes the flex-direction to column, appose to row(default), also centers the content in this class*/
.aboutme-img {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.logo-img {
  margin-top: 20px;
  height: 6em;
  width: 100%;
}

.profile-img {
  border-radius: 50%;
  height: 70%;
  width: 80%;
}
/*----------------------------navigation bar-----------------------*/
.navbar {
  background: white;
  width: 100%;
}

/*allows for the content within this class to be resposive due to the implementation of flexbox*/
.navbar ul {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  list-style: none;
}

/*----------------------------contact section-----------------------*/
.contact {
  color: white;
  width: 100%;
}

.contact img {
  height: 3em;
  width: 3em;
  justify-content: space-evenly;
}

/*gives all the links nested within the unordered list a flexbox format*/
.contact ul {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  list-style: none;
}

/*allows for the content within this class to be resposive due to the implementation of flexbox*/
.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 200px;
}

/*allows for the content within this class to be resposive due to the implementation of flexbox*/
.horiseon {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.project-layout {
  border-bottom: 1px solid #e1f1ff;
  justify-content: space-evenly;
}

.project-img {
  width: 14rem;
  height: 9rem;
  margin-bottom: 25px;
  max-width: 100%;
}

.project-features {
  margin: 50px 0 25px;
  color: #016ff9;
  list-style: none;
}

/*completelty changes the formatting of the letters/words using this class 
(changes font-size, line-height, border, font styling and spacing)*/
.project-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

/*removes the border of the last project article*/
.project-features-item:last-child{
  border-bottom: 1px solid #e1f1ff;
}

/*formats the title of each project*/
.project-title {
  color: #016ff9; 
  display: block;
  font-size: 32px;
  font-weight: 700;
}

/*formats the buttons in the navigation bar, and project setion*/
.view-button, .nav-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

/*changes background color of buttons when hovering over them*/
.view-button:hover, .view-button:focus, .nav-button:hover, .nav-button:focus {
  background-color: #e1f1ff;
}

/*creates interaction with the user*/
/*when hovering over each project section, the section will gain a border outline*/
.project-layout:hover {
  border:3px solid #9dd1ff;
  box-shadow: 5 5em 5em -0.4 #48aaff;
  transform: translateY(-0.25em);
}
/*--------------------media query-------------------*/
/*Once the users screen is 900px or greater, this code will run*/
/*Changes the flex-direction of the panel class to rows from columns*/
/*adjusts the margins to format cleaner for larger screen dimensions/
/*Once the users screen is 900px or greater, this code will run*/
@media (min-width: 900px){
  .panel {
    flex-direction: row;
  }
  .project-layout {
    border-bottom: none;
    border: 1px solid #e1f1ff;
    padding: 25px 50px;
    text-align: center;
  }
  main {
    flex-direction: column;
  }
  .aboutme-img {
    flex-direction: row;
  }
  .profile-img {
    height: 21rem;
    width: 22rem;
  }
}
